# 07. Model Selection. Decision Tree vs Support Vector Machines vs Logistic Regression

Book + Private Lessons Here â†—
Subscribe to my Blog â†—
Let's keep in touch on LinkedIn â†— ðŸ˜„
Load the Data
The goal of this dataset is
To predict if bank's customers (rows) could have the approval for a credit card target
Based on their socio-demographical characteristics (columns)

In [9]:
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data',
                 na_values='?', header=None)

df.rename(columns={15: 'target'}, inplace=True)
df.head()

   0      1      2  3  4  5  6     7  8  9  10 11 12     13   14 target
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0      +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560      +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824      +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3      +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0      +

In [10]:
df=pd.get_dummies(df,drop_first=True)
df.head()

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s,target_-
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,1,0,1,1,0,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,1,1,0,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,1,0,1,1,1,0,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0

In [11]:
df=df.dropna() # poner antes el .dropna de asignar las variables X e Y

In [13]:
X=df.drop(columns='target_-')
X.head()

,1,2,7,10,13,14,0_b,3_u,3_y,4_gg,...,6_j,6_n,6_o,6_v,6_z,8_t,9_t,11_t,12_p,12_s
0,30.83,0.000,1.25,1,202.0,0,1,1,0,0,...,0,0,0,1,0,1,1,0,0,0
1,58.67,4.460,3.04,6,43.0,560,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,24.50,0.500,1.50,0,280.0,824,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,27.83,1.540,3.75,5,100.0,3,1,1,0,0,...,0,0,0,1,0,1,1,1,0,0
4,20.17,5.625,1.71,0,120.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1

In [15]:
y=df['target_-']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target_-, dtype: uint8

# Build & Compare Models
# DecisionTreeClassifier()

In [16]:
from sklearn.tree import DecisionTreeClassifier
model= DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [17]:
model.score(X,y)

1.0

# RandomForestClassifier()

In [18]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(X,y)

RandomForestClassifier()

In [19]:
rfc.score(X,y)

1.0

# KNeighborsClassifier()

In [20]:
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier()
knc.fit(X,y)

KNeighborsClassifier()

In [21]:
knc.score(X,y)

0.7837837837837838

# train_test_split() & Compare Again

In [25]:
X=df.drop(columns='target_-').values
X

array([[3.083e+01, 0.000e+00, 1.250e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [5.867e+01, 4.460e+00, 3.040e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.450e+01, 5.000e-01, 1.500e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.525e+01, 1.350e+01, 2.000e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [1.792e+01, 2.050e-01, 4.000e-02, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.500e+01, 3.375e+00, 8.290e+00, ..., 1.000e+00, 0.000e+00,
        0.000e+00]])

In [27]:
y=df['target_-'].values
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1], dtype=uint8)

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train

array([[3.108e+01, 1.500e+00, 4.000e-02, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [2.692e+01, 2.250e+00, 5.000e-01, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [4.433e+01, 0.000e+00, 2.500e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.392e+01, 5.850e-01, 1.250e-01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.650e+01, 4.250e+00, 3.500e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.500e+01, 1.100e+01, 4.500e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [32]:
X_test

array([[1.950e+01, 9.585e+00, 7.900e-01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.200e+01, 1.750e+00, 4.000e-02, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [3.892e+01, 1.665e+00, 2.500e-01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [4.158e+01, 1.040e+00, 6.650e-01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [3.367e+01, 1.250e+00, 1.165e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.567e+01, 2.210e+00, 4.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [31]:
y_train

array([1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1], dtype=uint8)

In [33]:
y_test

array([1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1],
      dtype=uint8)

# DecisionTreeClassifier()

In [69]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [70]:
solution_dtc=model.predict(X_test)

In [71]:
(solution_dtc==y_test).mean()

0.7909090909090909

## Automate the Procedure into a function()

In [68]:
def porcentaje_aciertos(model):
    
    model.fit(X_train,y_train)
    
    solution_dtc=model.predict(X_test)
    
    resultado=(solution_dtc==y_test).mean()
    
    return resultado

porcentaje_aciertos(model)

0.7909090909090909

# RandomForestClassifier()

In [46]:
rfc=RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [49]:
solution_rfc=rfc.predict(X_test)

In [51]:
(solution_rfc==y_test).mean()

0.8727272727272727

# KNeighborsClassifier()

In [53]:
knc=KNeighborsClassifier()
knc.fit(X_train,y_train)

KNeighborsClassifier()

In [55]:
solution_knc=knc.predict(X_test)

In [57]:
(solution_knc==y_test).mean()

0.6818181818181818