<center>
<div>
    <img src="./src/logo.svg" alt="">
</div>
    <b>© Jesús López 2022</b>
    <br>Follow him on <a href="https://twitter.com/jsulopzs">Twitter</a> or <a href="https://linkedin.com/in/jsulopzs"><b>LinkedIn</b></a>
</center>

# Indexing `object[index]`

In [1]:
import pandas as pd

In [2]:
list_maths_grades = [6,5.3,7]

In [3]:
dict_maths_grades = {'first': 6, 'second':5.3, 'third': 7}

In [4]:
series_maths_grades = pd.Series([6,5.3,7], name='maths_grades')

## list

In [5]:
list_maths_grades

[6, 5.3, 7]

In [6]:
list_maths_grades[1]

5.3

## dict

In [7]:
dict_maths_grades

{'first': 6, 'second': 5.3, 'third': 7}

In [9]:
dict_maths_grades['second']

5.3

## series

In [10]:
series_maths_grades

0    6.0
1    5.3
2    7.0
Name: maths_grades, dtype: float64

In [11]:
series_maths_grades[1]

5.3

# Execute `functions()`

- `instance.function()`
- `module.function()`

## Within `objects`

### list

In [20]:
list_maths_grades

[6, 5.3, 7, 9]

In [21]:
list_maths_grades.append(9)

In [22]:
list_maths_grades

[6, 5.3, 7, 9, 9]

### dict

In [15]:
dict_maths_grades

{'first': 6, 'second': 5.3, 'third': 7}

In [16]:
dict_maths_grades.update({'fourth': 3})

In [17]:
dict_maths_grades

{'first': 6, 'second': 5.3, 'third': 7, 'fourth': 3}

### series

In [23]:
series_maths_grades

0    6.0
1    5.3
2    7.0
Name: maths_grades, dtype: float64

In [24]:
series_maths_grades.append(pd.Series(3))

0    6.0
1    5.3
2    7.0
0    3.0
dtype: float64

## Within `modules`

In [26]:
import pandas as pd

In [30]:
pd.read_json(path_or_buf='https://raw.githubusercontent.com/jsulopz/data/main/football_players_stats.json')

                           CR7       Messi Lewandowski     Benzema
partidos                   923         800         662         737
goles                      689         679         498         370
asistencias                231         312         131         182
tarjetas amarillas         112          82          68          15
tarjetas rojas               7           1           0           0
segundas amarillas           4           0           1           0
minutos jugados          75372       65299       65299       52245
birthday            1985-02-05  1987-06-24  1988-08-21  1987-12-19

In [31]:
pd.read_csv('https://raw.githubusercontent.com/jsulopz/data/main/internet_usage_spain.csv')

           name  internet_usage     sex  age    education  weight
0      Josefina               0  Female   66   Elementary      81
1         Vicki               1    Male   72   Elementary      78
2         David               1    Male   48   University      69
3        Curtis               0    Male   59          PhD     107
4     Josephine               1  Female   44          PhD      80
...         ...             ...     ...  ...          ...     ...
2450    Frances               1    Male   43   Elementary      94
2451      Harry               1  Female   18  High School      70
2452       Adam               0  Female   54   Elementary      60
2453  Christine               1    Male   31  High School      89
2454       Pepe               0    Male   52   Elementary      88

[2455 rows x 6 columns]

In [32]:
import numpy as np

In [33]:
np.mean([34,34,35,345])

112.0

In [34]:
np.sum([34,34,35,345])

448

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.