<font size="+5">#01 | Web Development & Machine Learning Deployment</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - We take some dataset from the _[Machine Learning Data Repository UCI](https://archive.ics.uci.edu/ml/datasets/adult)_
> - The aim is to predict weather a **person** (rows) `earned>50k` a year or not
> - Based on their **social-demographic features** (columns)
>
> PD: You may see the column names & meanings [here â†—](https://archive.ics.uci.edu/ml/datasets/adult).

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
df = pd.read_csv(url, header=None, na_values=' ?')
df.rename(columns={14: 'target'}, inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Compute & Save the ML Model

### Create Model from Historical Data

### Save the `Model()` into a `file.pkl`

## Web Development

### URLs


- Go to a website

### HTML


- Inspect the HTML

### GET


- Explain this command: getting data from twitter

### POST


- Explain this command: posting a tweet

## Create a Simple HTML

## HTML Form to ask User Input Data


- Intro Data
- Submit Button
- Nothing happens? 
    - We haven't integrated a Web Server System

## Input Data & Make a Prediction


- Simulating a user introducing data in the website

## Send Input Data to Python & Make the Prediction

## Create Flask App

### Routing

### Rendering `html` templates through MVT

### Python Data to HTML Template and Get the View

## Deploy App to Heroku

### Create a Heroku Account

### Download Heroku CLI

### Deploy to Heroku

####  The `requirements.txt`


- We won't add all libraries, just the ones needed

####  Create a Virtual Env

#### The Procfile

## Watch Out your App Online

## Put it on GitHub