<font size="+5">#01 | Web Development & Machine Learning Deployment</font>

- Subscribe to my [Blog ‚Üó](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn ‚Üó](www.linkedin.com/in/jsulopz) üòÑ

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - The goal of this dataset is
> - To predict if **bank's customers** (rows) `default` next month
> - Based on their **socio-demographical characteristics** (columns)

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(io=url, header=1, index_col=0).loc[:,['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'default payment next month']]
df.SEX = df.SEX.replace({1: 'Female', 2: 'Male'})
df.EDUCATION = df.EDUCATION.replace({0: 'No studies',
                                     1: 'Primary',
                                     2: 'Secondary',
                                     3: 'Bachelor',
                                     4: 'Undergraduated',
                                     5: 'Masters',
                                     6: 'PhD'})
df.MARRIAGE = df.MARRIAGE.replace({0: 'Divorced',
                                   1: 'Yes',
                                   2: 'No',
                                   3: 'Widow'})
df.sample(10)

       LIMIT_BAL     SEX  EDUCATION MARRIAGE  AGE  default payment next month
ID
29787      90000  Female  Secondary      Yes   36                           0
20368      20000  Female  Secondary       No   23                           1
833       470000    Male  Secondary      Yes   27                           1
11186     160000    Male    Masters       No   40                           0
2099      320000    Male    Primary       No   28                           0
11535     170000  Female  Secondary       No   27                           0
17911     100000  Female  Secondary       No   28                           1
12118      50000    Male  Secondary      Yes   49                           0
27758      60000    Male  Secondary       No   23                           1
19137     280000    Male   Bachelor      Yes   34                           0

In [9]:
df = pd.get_dummies(df, drop_first=True)

## Compute & Save the ML Model

### Create Model from Historical Data

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
model = DecisionTreeClassifier()

In [12]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [13]:
model.fit(X, y)

DecisionTreeClassifier()

In [14]:
model.__dict__

{'criterion': 'gini',
 'splitter': 'best',
 'max_depth': None,
 'min_samples_split': 2,
 'min_samples_leaf': 1,
 'min_weight_fraction_leaf': 0.0,
 'max_features': None,
 'max_leaf_nodes': None,
 'random_state': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'class_weight': None,
 'ccp_alpha': 0.0,
 'n_features_in_': 12,
 'n_features_': 12,
 'n_outputs_': 1,
 'classes_': array([0, 1], dtype=uint8),
 'n_classes_': 2,
 'max_features_': 12,
 'tree_': <sklearn.tree._tree.Tree at 0x1c1cf62e960>}

In [ ]:
model.predict

### Save the `Model()` into a `file.pkl`

## Web Development

### URLs


- Go to a website

### HTML


- Inspect the HTML

### GET


- Explain this command: getting data from twitter

### POST


- Explain this command: posting a tweet

## Create a Simple HTML

## HTML Form to ask User Input Data


- Intro Data
- Submit Button
- Nothing happens? 
    - We haven't integrated a Web Server System

## Input Data & Make a Prediction


- Simulating a user introducing data in the website

## Send Input Data to Python & Make the Prediction

## Create Flask App

### Routing

### Rendering `html` templates through MVT

### Python Data to HTML Template and Get the View

## Deploy App to Heroku

### Create a Heroku Account

### Download Heroku CLI

### Deploy to Heroku

####  The `requirements.txt`


- We won't add all libraries, just the ones needed

####  Create a Virtual Env

#### The Procfile

## Watch Out your App Online

## Put it on GitHub