<font size="+5">#01 | Web Development & Machine Learning Deployment</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - The goal of this dataset is
> - To predict if **bank's customers** (rows) `default` next month
> - Based on their **socio-demographical characteristics** (columns)

In [33]:
import pandas as pd
pd.set_option("display.max_columns", None)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(io=url, header=1, index_col=0).loc[:,['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'default payment next month']]
df.SEX = df.SEX.replace({1: 'Female', 2: 'Male'})
df.EDUCATION = df.EDUCATION.replace({0: 'No studies',
                                     1: 'Primary',
                                     2: 'Secondary',
                                     3: 'Bachelor',
                                     4: 'Undergraduated',
                                     5: 'Masters',
                                     6: 'PhD'})
df.MARRIAGE = df.MARRIAGE.replace({0: 'Divorced',
                                   1: 'Yes',
                                   2: 'No',
                                   3: 'Widow'})
df.sample(10)

       LIMIT_BAL     SEX  EDUCATION MARRIAGE  AGE  default payment next month
ID
14231      70000    Male   Bachelor      Yes   47                           1
397       100000  Female    Primary       No   38                           0
19098      50000    Male    Primary       No   25                           0
9416      310000    Male  Secondary       No   27                           0
20364      80000  Female    Primary      Yes   37                           1
2926       30000  Female  Secondary       No   32                           0
26549      90000    Male   Bachelor      Yes   53                           0
18055     180000  Female  Secondary      Yes   43                           0
24405     200000  Female    Primary      Yes   34                           0
353       380000  Female    Primary       No   30                           1

In [34]:
dfbase = df.copy()

In [35]:
dfbase.head()

    LIMIT_BAL     SEX  EDUCATION MARRIAGE  AGE  default payment next month
ID
1       20000    Male  Secondary      Yes   24                           1
2      120000    Male  Secondary       No   26                           1
3       90000    Male  Secondary       No   34                           0
4       50000    Male  Secondary      Yes   37                           0
5       50000  Female  Secondary      Yes   57                           0

In [36]:
df = pd.get_dummies(df, drop_first=True)

In [37]:
df.head()

,LIMIT_BAL,AGE,default payment next month,SEX_Male,EDUCATION_Masters,EDUCATION_No studies,EDUCATION_PhD,EDUCATION_Primary,EDUCATION_Secondary,EDUCATION_Undergraduated,MARRIAGE_No,MARRIAGE_Widow,MARRIAGE_Yes
ID,,,,,,,,,,,,,
1,20000,24,1,1,0,0,0,0,1,0,0,0,1
2,120000,26,1,1,0,0,0,0,1,0,1,0,0
3,90000,34,0,1,0,0,0,0,1,0,1,0,0
4,50000,37,0,1,0,0,0,0,1,0,0,0,1
5,50000,57,0,0,0,0,0,0,1,0,0,0,1

In [38]:
from sklearn.preprocessing import OneHotEncoder

## Compute & Save the ML Model

### Create Model from Historical Data

In [39]:
from sklearn.tree import DecisionTreeClassifier

In [40]:
model = DecisionTreeClassifier()

In [41]:
X = dfbase.iloc[:, :-1]
y = dfbase.iloc[:, -1]

In [42]:
Xp = X[:1].copy()

In [43]:
Xp['MARRIAGE'].dtype

dtype('O')

In [44]:
Xp['MARRIAGE'].dtype == object

True

In [45]:
dic = {'categoricas': {}, 'numericas': []}

for i in X.columns:
    if X[i].dtype == object:
        dic['categoricas'][i] = X[i].unique().tolist()
    else:
        dic['numericas'].append(i)

In [46]:
dic

{'categoricas': {'SEX': ['Male', 'Female'],
  'EDUCATION': ['Secondary',
   'Primary',
   'Bachelor',
   'Masters',
   'Undergraduated',
   'PhD',
   'No studies'],
  'MARRIAGE': ['Yes', 'No', 'Widow', 'Divorced']},
 'numericas': ['LIMIT_BAL', 'AGE']}

In [47]:
import pickle

In [48]:
with open('../../tutorial-machine-learning-deployment/model/dicform.pkl', 'wb') as f:
    pickle.dump(dic, file=f)

In [49]:
with open('../../tutorial-machine-learning-deployment/model/ohe.pkl', 'wb') as f:
    pickle.dump(ohe, file=f)

In [50]:
for var in dic['categoricas']:
    print(var)

SEX
EDUCATION
MARRIAGE

In [51]:
ohe = OneHotEncoder(drop='first', sparse=False)

In [52]:
ohe.__dict__

{'categories': 'auto',
 'sparse': False,
 'dtype': numpy.float64,
 'handle_unknown': 'error',
 'drop': 'first'}

In [53]:
Xcat = X.select_dtypes(include=object).reset_index(drop=True)

In [54]:
Xcat

          SEX  EDUCATION MARRIAGE
0        Male  Secondary      Yes
1        Male  Secondary       No
2        Male  Secondary       No
3        Male  Secondary      Yes
4      Female  Secondary      Yes
...       ...        ...      ...
29995  Female   Bachelor      Yes
29996  Female   Bachelor       No
29997  Female  Secondary       No
29998  Female   Bachelor      Yes
29999  Female  Secondary      Yes

[30000 rows x 3 columns]

In [55]:
Xnum = X.select_dtypes(exclude=object).reset_index(drop=True)

In [56]:
Xcat = ohe.fit_transform(Xcat)

In [57]:
Xcat.shape

(30000, 10)

In [58]:
Xnum.shape

(30000, 2)

In [59]:
df

,LIMIT_BAL,AGE,default payment next month,SEX_Male,EDUCATION_Masters,EDUCATION_No studies,EDUCATION_PhD,EDUCATION_Primary,EDUCATION_Secondary,EDUCATION_Undergraduated,MARRIAGE_No,MARRIAGE_Widow,MARRIAGE_Yes
ID,,,,,,,,,,,,,
1,20000,24,1,1,0,0,0,0,1,0,0,0,1
2,120000,26,1,1,0,0,0,0,1,0,1,0,0
3,90000,34,0,1,0,0,0,0,1,0,1,0,0
4,50000,37,0,1,0,0,0,0,1,0,0,0,1
5,50000,57,0,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,39,0,0,0,0,0,0,0,0,0,0,1
29997,150000,43,0,0,0,0,0,0,0,0,1,0,0
29998,30000,37,1,0,0,0,0,0,1,0,1,0,0
29999,80000,41,1,0,0,0,0,0,0,0,0,0,1
30000,50000,46,1,0,0,0,0,0,1,0,0,0,1

In [60]:
ohe.feature_names_in_

array(['SEX', 'EDUCATION', 'MARRIAGE'], dtype=object)

In [61]:
ohe.categories_

[array(['Female', 'Male'], dtype=object),
 array(['Bachelor', 'Masters', 'No studies', 'PhD', 'Primary', 'Secondary',
        'Undergraduated'], dtype=object),
 array(['Divorced', 'No', 'Widow', 'Yes'], dtype=object)]

In [62]:
colnames = []

for idx,items in enumerate(ohe.categories_):
    # print(idx, item)
    for category in items[1:]:
        col = f'{ohe.feature_names_in_[idx]}_{category}'
        colnames.append(col)

In [63]:
f = open('colnames.pkl', 'wb')

In [64]:
pickle.dump(colnames,f)

In [65]:
colnames

['SEX_Male',
 'EDUCATION_Masters',
 'EDUCATION_No studies',
 'EDUCATION_PhD',
 'EDUCATION_Primary',
 'EDUCATION_Secondary',
 'EDUCATION_Undergraduated',
 'MARRIAGE_No',
 'MARRIAGE_Widow',
 'MARRIAGE_Yes']

In [66]:
Xcat = pd.DataFrame(Xcat, columns=colnames)

In [67]:
X = pd.concat([Xcat, Xnum], axis=1)

In [68]:
model.fit(X, y)

DecisionTreeClassifier()

### Save the `Model()` into a `file.pkl`

In [70]:
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

## Web Development

### URLs


- Go to a website

### HTML


- Inspect the HTML

### GET


- Explain this command: getting data from twitter

### POST


- Explain this command: posting a tweet

## Create a Simple HTML

## HTML Form to ask User Input Data


- Intro Data
- Submit Button
- Nothing happens? 
    - We haven't integrated a Web Server System

In [175]:
LIMIT_BAL = 1000
SEX = 'Male'
EDUCATION = 'Masters'
MARRIAGE = "Divorced"
AGE = 56

In [176]:
DIC = {'LIMIT_BAL': LIMIT_BAL,
'SEX': SEX,
'EDUCATION': EDUCATION,
'MARRIAGE': MARRIAGE,
'AGE': AGE}

In [177]:
df_to_predict = pd.DataFrame(DIC, index=[0])

In [178]:
df_to_predict

   LIMIT_BAL   SEX EDUCATION  MARRIAGE  AGE
0       1000  Male   Masters  Divorced   56

In [179]:
df_to_predict_cat = df_to_predict.select_dtypes(include=object)
df_to_predict_num = df_to_predict.select_dtypes(exclude=object)
df_to_predict_cat = pd.DataFrame(ohe.transform(df_to_predict_cat), columns=colnames)
df_to_predict = pd.concat([df_to_predict_cat, df_to_predict_num], axis=1)

prediction = model.predict_proba(df_to_predict)

In [185]:
prediction

array([[0., 1.]])

In [184]:
prediction[0][1]

1.0

In [181]:
prediction[1]

IndexError: index 1 is out of bounds for axis 0 with size 1

In [127]:
X.sample()

,SEX_Male,EDUCATION_Masters,EDUCATION_No studies,EDUCATION_PhD,EDUCATION_Primary,EDUCATION_Secondary,EDUCATION_Undergraduated,MARRIAGE_No,MARRIAGE_Widow,MARRIAGE_Yes,LIMIT_BAL,AGE
24018,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,200000,26

In [129]:
df_to_predict

   LIMIT_BAL   SEX EDUCATION  MARRIAGE  AGE
0       1000  Male   Masters  Divorced   56

In [128]:
df_to_predict = ohe.transform(df_to_predict)

ValueError: Found unknown categories [1000] in column 0 during transform

In [37]:
df_to_predict

   LIMIT_BAL  AGE  SEX_Male  EDUCATION_Masters  MARRIAGE_Divorced
0       1000   56         1                  1                  1

In [33]:
model.predict(df_to_predict)

/Users/sota/miniforge3/lib/python3.9/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- EDUCATION_Masters
- EDUCATION_No studies
- EDUCATION_PhD
- EDUCATION_Primary
- EDUCATION_Secondary
- ...

  warnings.warn(message, FutureWarning)

ValueError: X has 2 features, but DecisionTreeClassifier is expecting 12 features as input.

## Input Data & Make a Prediction


- Simulating a user introducing data in the website

## Send Input Data to Python & Make the Prediction

## Create Flask App

### Routing

### Rendering `html` templates through MVT

### Python Data to HTML Template and Get the View

## Deploy App to Heroku

### Create a Heroku Account

### Download Heroku CLI

### Deploy to Heroku

####  The `requirements.txt`


- We won't add all libraries, just the ones needed

####  Create a Virtual Env

#### The Procfile

## Watch Out your App Online

## Put it on GitHub