<font size="+5">#01. Data Tables, Plots & Basic Concepts of Programming</font>

<ul>
    <li>Doubts? â†’ Ask me in <img src="https://discord.com/assets/f9bb9c4af2b9c32a2c5ee0014661546d.png" style="height: 1em; vertical-align: middle;"> <a href="https://discord.gg/cmB3KGsqMy">Discord</a></li>
    <li>Tutorials â†’ <img src="https://openmoji.org/php/download_asset.php?type=emoji&emoji_hexcode=E044&emoji_variant=color" style="height: 1em; vertical-align: middle;"> <a href="https://www.youtube.com/channel/UCovCte2I3loteQE_kRsfQcw">YouTube</a></li>
    <li>Book Private Lessons â†’ <span style="color: orange">@</span> <a href="https://sotastica.com/reservar">sotastica</a></li>
</ul>

# Define a varaible

> Asign an `object` (numbers, text) to a `variable`.

In [2]:
pepa = 652417896

In [3]:
pepa

652417896

In [4]:
pepa/39

16728664.0

In [5]:
pepa+3

652417899

In [6]:
nombre = alfonso

NameError: name 'alfonso' is not defined

si no esta definido? en algun lugar deberia estarlo?

donde?

- el registro (environment)

In [7]:
pepa

652417896

In [8]:
hola

NameError: name 'hola' is not defined

In [9]:
adios

NameError: name 'adios' is not defined

In [10]:
34

34

In [11]:
3.34

3.34

# The Registry (_aka The Environment_)

> Place where Python goes to **recognise what we type**.

In [17]:
hola

NameError: name 'hola' is not defined

In [18]:
"hola"

'hola'

In [19]:
nombre = "alfonso"

In [20]:
alfonso

NameError: name 'alfonso' is not defined

In [21]:
nombre

'alfonso'

In [25]:
type(34)

int

In [26]:
type(34.3)

float

In [27]:
type('alfonso')

str

In [28]:
type([])

list

In [29]:
type({})

dict

In [30]:
type

type

# Use of Functions

## Predefined Functions in Python (_Built-in_ Functions)

> https://docs.python.org/3/library/functions.html

In [31]:
len('ajwoifej wjf oie')

16

In [32]:
len('hola')

4

## Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

## External Functions

> Download [this Excel](https://github.com/sotastica/data/raw/main/internet_usage_spain.xlsx).
> Apply the above discipline and make it happen ðŸš€
> I want to see the table, c'mon ðŸ‘‡

In [33]:
read_excel()

NameError: name 'read_excel' is not defined

In [34]:
import pandas

In [35]:
read_excel()

NameError: name 'read_excel' is not defined

In [36]:
pandas.factorize

In [37]:
pandas.fly()

AttributeError: module 'pandas' has no attribute 'fly'

In [38]:
pandas.read_excel

<function pandas.io.excel._base.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=None, mangle_dupe_cols=True, storage_options: 'StorageOptions' = None)>

In [39]:
pandas.read_excel()

TypeError: read_excel() missing 1 required positional argument: 'io'

In [40]:
pandas.read_excel(io=internet_usage_spain.xlsx)

NameError: name 'internet_usage_spain' is not defined

In [42]:
archivo = 'internet_usage_spain.xlsx'

In [43]:
archivo

'internet_usage_spain.xlsx'

In [44]:
pandas.read_excel(io=archivo)

     name  weight
0    pepa      34
1  josefa      38
2  rufino      76

In [45]:
pandas.read_excel(io='internet_usage_spain.xlsx')

     name  weight
0    pepa      34
1  josefa      38
2  rufino      76

In [2]:
import pandas

In [4]:
internet_usage_spain = 'internet_usage_spain'

In [5]:
pandas.read_excel(io=internet_usage_spain, sheet_name=1)

FileNotFoundError: [Errno 2] No such file or directory: 'internet_usage_spain'

In [2]:
import pandas

In [3]:
pandas.read_excel(io='internet_usage_spain.xlsx', sheet_name=1)

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

## Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

## External Functions

> Download [this Excel](https://github.com/sotastica/data/raw/main/internet_usage_spain.xlsx).
> Apply the above discipline and make it happen ðŸš€
> I want to see the table, c'mon ðŸ‘‡

In [4]:
read_excel()

NameError: name 'read_excel' is not defined

In [5]:
read_excel = 'asdf'

In [6]:
read_excel()

TypeError: 'str' object is not callable

In [7]:
import panda

ModuleNotFoundError: No module named 'panda'

In [8]:
import pandas

In [9]:
read_excel()

TypeError: 'str' object is not callable

In [11]:
pandas.api()

TypeError: 'module' object is not callable

In [ ]:
pandas.api.extensions.register_extension_dtype

In [12]:
pandas.read_excel()

TypeError: read_excel() missing 1 required positional argument: 'io'

In [13]:
pandas.read_excel(io=internet_usage_spain.xlsx)

NameError: name 'internet_usage_spain' is not defined

`internet_usage_spain = ?`

In [14]:
89

89

In [15]:
34.3

34.3

In [16]:
'wjfioew'

'wjfioew'

In [17]:
weroij

NameError: name 'weroij' is not defined

In [18]:
pandas.read_excel(io='internet_usage_spain.xlsx')

     name  weight
0    pepa      34
1  josefa      38
2  rufino      76

In [19]:
pandas.read_excel(io='internet_usage_spain.xlsx',sheet_name=1)

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

## The Elements of Programming

> - `Library`: where the code of functions are stored.
>   - `Function`: execute several lines of code with one `word()`.
>       - `Parameter`: to **configure** the function's behaviour.
>           - `Object`: **data structure** to store information.

## Code Syntax

**What happens inside the computer when we run the code?**

> In which order Python reads the line of code?
> - From left to right.
> - From up to down.
> Which elements are being used in the previous line of code?

In [20]:
pandas.factorize

In [21]:
pandas.fly()

AttributeError: module 'pandas' has no attribute 'fly'

1. `libreria`
2. `.` **DOT NOTATION** accedes dentro de la libreria
3. `funcion()`
4. pasamos `objetos` a los `argumentos`
5. ejecutamos
    
6. la funcion nos devuelve un objeto

In [22]:
pandas.read_excel(io='internet_usage_spain.xlsx',sheet_name=1)

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

In [23]:
pandas.read_excel(io=89,sheet_name=1)

ValueError: Invalid file path or buffer object type: <class 'int'>

In [24]:
pandas.read_excel(io='89',sheet_name=1)

FileNotFoundError: [Errno 2] No such file or directory: '89'

In [25]:
pandas.read_excel(io='internet_usage_spain.xlsx',sheet_name=1)

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

In [26]:
pandas.read_excel(io='internet_usage_spain.xlsx',sheet_name=1)

FileNotFoundError: [Errno 2] No such file or directory: 'internet_usage_spain.xlsx'

In [28]:
import os

In [29]:
os.getcwd()

'/Users/sota/Dropbox/02 Company/Sotastica/Productos/Coaching/Logistica/Discipulos/apogaldea/Clases Particulares Python, R/Programa Sotastico/#01. Data Tables, Plots & Basic Concepts of Programming'

In [30]:
os.listdir()

['datos', '01session.ipynb', '01practice.ipynb', '.ipynb_checkpoints']

In [31]:
os.listdir('datos')

['internet_usage_spain.xlsx']

In [33]:
pandas.read_excel(io='datos/internet_usage_spain.xlsx',sheet_name=1)

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

## Functions inside Objects

> - The `dog` makes `guau()`: `dog.guau()`
> - The `cat` makes `miau()`: `cat.miau()`
> - What could a `DataFrame` make? `object.` + `[tab key]`

In [34]:
var = 89

In [35]:
pepa=pandas.read_excel(io='datos/internet_usage_spain.xlsx',sheet_name=1)

In [37]:
89

89

In [36]:
pepa

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

In [43]:
pepa

      internet_usage     sex  age    education
0                  0  Female   66   Elementary
1                  1    Male   72   Elementary
2                  1    Male   48   University
3                  0    Male   59          PhD
4                  1  Female   44          PhD
...              ...     ...  ...          ...
2450               1    Male   43   Elementary
2451               1  Female   18  High School
2452               0  Female   54   Elementary
2453               1    Male   31  High School
2454               0    Male   52   Elementary

[2455 rows x 4 columns]

In [41]:
pepa.mean()

/var/folders/24/tg28vxls25l9mjvqrnh0plc80000gn/T/ipykernel_36207/3980863479.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pepa.mean()

internet_usage     0.535642
age               46.798778
dtype: float64

In [44]:
pepa.mean(numeric_only=True)

internet_usage     0.535642
age               46.798778
dtype: float64

In [42]:
pepa.sum()

internet_usage                                                 1315
sex               FemaleMaleMaleMaleFemaleFemaleFemaleMaleMaleMa...
age                                                          114891
education         ElementaryElementaryUniversityPhDPhDPhDPhDUniv...
dtype: object

In [39]:
pepa.age.sum()

114891

In [40]:
pepa.age.mean()

46.79877800407332

# Accessing `Objects`

> Objects are **data structures** that store information. 
> Which **syntax** do we use to access the information?

## Dot Notation `.`

In [38]:
pepa.age

0       66
1       72
2       48
3       59
4       44
        ..
2450    43
2451    18
2452    54
2453    31
2454    52
Name: age, Length: 2455, dtype: int64

## Square Brackets `[]`

In [46]:
pepa['age']

0       66
1       72
2       48
3       59
4       44
        ..
2450    43
2451    18
2452    54
2453    31
2454    52
Name: age, Length: 2455, dtype: int64

In [47]:
pepa['age'].mean()

46.79877800407332

In [45]:
pepa[age]

NameError: name 'age' is not defined

# `DataFrame` Manipulation

> Could we solve the following questions with a `DataFrame` **object**?

## How many people are in each study category?

In [50]:
pepa.education.value_counts()

Elementary      1184
Higher Level     374
High School      279
PhD              236
University       205
No studies       177
Name: education, dtype: int64

In [50]:
pepa.education.value_counts()

Elementary      1184
Higher Level     374
High School      279
PhD              236
University       205
No studies       177
Name: education, dtype: int64

## Age average by internet usage

## Age average by internet usage and gender

# Data Visualization with Python

## Load Another Dataset

> We load this [csv file](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv).
> Â¿What does it mean `csv`?
> Â¿Why don't we use an `Excel` to better see the data?

## Scatterplot

### With `Matplotlib` library

> Scatterplot

### With `Seaborn` library

> Scatterplot

### With `Plotly` library

> Scatterplot

## Other Data Visualization Figures

### Histogram

### Boxplot

### Bar Chart

### Pie Plot

### Maps