# #01 | The value_counts() function

In [2]:
import pandas

df_tips = pandas.read_csv(filepath_or_buffer='../data/tips.csv')
df_tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [5]:
df_tips.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [7]:
df_tips.sex.value_counts(normalize=True)

Male      0.643443
Female    0.356557
Name: sex, dtype: float64

In [8]:
df_tips.day.value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [10]:
df_tips.day.value_counts(normalize=True, sort=True)

Sat     0.356557
Sun     0.311475
Thur    0.254098
Fri     0.077869
Name: day, dtype: float64

In [11]:
df_tips.day.value_counts(normalize=True, sort=False)

Sun     0.311475
Sat     0.356557
Thur    0.254098
Fri     0.077869
Name: day, dtype: float64

In [13]:
df_tips[['sex', 'day']].value_counts()

sex     day
Male    Sat     59
        Sun     58
Female  Thur    32
Male    Thur    30
Female  Sat     28
        Sun     18
Male    Fri     10
Female  Fri      9
dtype: int64